set_var EASYRSA_REQ_COUNTRY    "{{ org_country }}"
set_var EASYRSA_REQ_PROVINCE   "{{ org_province }}"
set_var EASYRSA_REQ_CITY       "{{ org_city }}"
set_var EASYRSA_REQ_ORG        "{{ org_name }}"
set_var EASYRSA_REQ_EMAIL      "{{ org_email }}"
set_var EASYRSA_REQ_OU         "{{ org_unit }}"
